.App {

  min-height: 95vh;
}

.main-content-area{
  min-height: 82vh;
}

.homepage-hero{
  background-color: #07212e;
  min-height: 86vh;
}

.senti-form{
  padding-top: 15vh;
}

.single-comment-body{
  background: #17a2b82e;
}

.main-menu>ul>li:hover{
    background: #000;
}