{% extends 'base.html' %}

{% block content %}
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Analyse</p>
							<h1>All of your bengali sentiment</h1>
							<div class="hero-btns">
								<form method="POST">
									{% csrf_token %}
									<input class="form-control form-control-lg mb-4" type="text" placeholder="Please input your text">
									<input type="submit" value="Submit">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

{% endblock content %}




	
